<!DOCTYPE html>

</html>
   <head>
 <meta charset="UTF-8">
 <title>Checkers</title>
 <script src="/static/scripts.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="140156899016-fn3ss3jtisatghs38cu014jardagefd7.apps.googleusercontent.com">
 <link href = "/static/styles.css" rel = "stylesheet">
 
 
</head>
<body>
<h2>Checkers</h2>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<div id="my-signin2" data-onsuccess="onSignIn"></div>
<p><strong id='black'>Black: Player</strong><br />
   <strong id='black'>White: Computer</strong><br />
Rules are <a href="http://en.wikipedia.org/wiki/English_draughts">here</a>
</p>
    <canvas id="myCanvas" width="500" height="500"></canvas>
    <script src="/static/scripts.js"></script>
<hr>
</body>

<p><a href="#" onclick="signOut();">Sign out</a></p>


</html>
